* {
  box-sizing: border-box;
}

input{
  width: 600px;
  height: 40px;
  font-size: medium;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.app {
  text-align: center;
  font-family: 'Avenir LT Std', sans-serif;
  margin: 0;
}

.search-bar {
  float: left;
  padding: 25px 100px;
}

.view-container{
 float: left;
 padding: 25px 100px;
}

.alphabet-list{
 background-color: darkgray;
}

.label-list {
  font-size: 1rem;
  padding: 25px 15px;
}

.label-container {
  margin: 0 auto;
  width: 600px;
}

.alphabets-view {
  float: right;
  margin-right: 10px;
}

.loader {
  width: 80px;
  height: 80px;
  clear: both;
  margin: 20px auto;
}

.load-more {
  cursor: pointer;
  font-size: 25px;
}

.no-data {
  cursor: pointer;
  color:blue;
  font-size: 25px;
}

.loader-circle {
  border: 20px grey solid;
  border-top: 20px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
  }

  @-webkit-keyframes spCircRot {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(359deg);
    }
  }
  @keyframes spCircRot {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.alphabet-link{
  background-color: #42b4d6;
  color: #ffffff;
  padding: 5px;
  margin-top: 0;
  margin-bottom: 4px;
  cursor: pointer;
  transition: all .2s ease-in-out; 
}

.alphabet-link:hover { transform: scale(1.5); }
